<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="00000000-0000-0000-0000-000000000000" name="Flow | Incoming | SWIFT | FX" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="00000000-0000-0000-0000-000000000000fileName">Flow-%7C-Incoming-%7C-SWIFT-%7C-FX</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>Date</con:name><con:value>${#Project#Date}</con:value></con:property></con:properties><con:reportParameters/><con:environmentSpec><con:entry environmentId="00000000-0000-0000-0000-000000000000"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="00000000-0000-0000-0000-000000000000"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec><con:tagId>89729dd5-6bb9-4b80-9492-7e64163b0e02</con:tagId></con:testSuite>